@model HotelManagementCoreMvcFrontend.Models.Room
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Edit Room";
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
<h4>Edit Room Details</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="HotelId" type="hidden" />

            <div class="form-group mb-3">
                <label asp-for="RoomNo" class="control-label fw-bold">Room No<span class="text-danger">*</span></label>
                <input asp-for="RoomNo" class="form-control" placeholder="Enter room number" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label fw-bold">Price <span class="text-danger">*</span></label>
                <input asp-for="Price" class="form-control" placeholder="Enter room price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-4">
                <input  asp-for="IsAvailable" hidden />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                @if (role == "Admin")
                {
                    <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
                }
                @if (role == "Manager")
                {
                    @Html.ActionLink("Back to List", "GetRoomByHotelAssociatedWithManager", "Room", new { userId = userId }, new { @class = "btn btn-success btn-sm" })
                    
                }
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}